<html>
<head>
    <meta http-equiv="refresh" content="60">
    <!--<script src="/js/jquery-latest.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/js/jquery.sparkline.min.js"></script>
    <script type="text/javascript" src="/js/jquery.tablesorter.min.js"></script>


    <link rel="stylesheet" type="text/css" href="/css/themes/blue/style.css">
    <link rel="stylesheet" type="text/css" href="/css/tablesorter-hover-highlight.css">
    <script>
        $(function () {
            // Handler for .ready() called.
            $('.inlinebar').sparkline('html', {type: 'bar', chartRangeMin: 0, chartRangeMax: 100});

            $("#tbl-stage").tablesorter(
                {
                    theme: 'blue',
                    widgets: ['zebra'],
                    headers: {10: {sorter: false}}
                }
            );

            // Make table cell focusable
            // http://css-tricks.com/simple-css-row-column-highlighting/
            if ($('.focus-highlight').length) {
                $('.focus-highlight').find('td, th')
                    .attr('tabindex', '1')
                    // add touch device support
                    .on('touchstart', function () {
                        $(this).focus();
                    });
            }
        });
    </script>
</head>
<body>

<table id='tbl-stage' class='tablesorter hover-highlight focus-highlight'>
    <thead>
    <th>idx</th>
    <th>instance-id</th>
    <th>Project Full Name</th>
    <th>LSAC</th>
    <th>master node hostname</th>
    <th>instance-type</th>
    <th>AMI</th>
    <th>security key</th>
    <th>AZone</th>
    <th>state</th>
    <th class="header headerSortUp">elapsed time</th>
    <th>current operation</th>
    <th>current cpu load</th>
    <th>cpu hist - 15mins bins of cpu MAX</th>
    </thead>
    <tbody>
    <?php

    $idx=0;
    $today = new DateTime('NOW');
    $dt = new DateTime('NOW');
    $then = $dt->sub(new DateInterval('PT10H'));
    //$statObj = new GCADstats($c);

    foreach ($result[ 'Reservations' ] as $R) {
        $ID = $R[ 'Instances' ][ 0 ][ 'InstanceId' ];
        $state = $R[ 'Instances' ][ 0 ][ 'State' ][ 'Name' ];
        $type = $R[ 'Instances' ][ 0 ][ 'InstanceType' ];
        $ami = $R[ 'Instances' ][ 0 ][ 'ImageId' ];
        $keyName = $R[ 'Instances' ][ 0 ][ 'KeyName' ];
        $zone = $R[ 'Instances' ][ 0 ][ 'Placement' ]['AvailabilityZone'];
        $launchDT = $R[ 'Instances' ][ 0 ][ 'LaunchTime' ];
        //$start_date = $R['Instances'][0]['LaunchTime']['date'];
        $interval = formatDateDiff($launchDT);//$lauchDT->diff($today)->format("%d:%H:%I");
        $NM="";
        $SM = "";
        $pid = "";
        $op = "";
        $lsac="";
        $pname="";
        $idx++;

        // read Tags for instance NAME and COSTS-HOST (sample name)
        foreach ($R[ 'Instances' ][ 0 ][ 'Tags' ] as $TG) {
            if ($TG['Key'] == 'Name'){
                $NM = $TG['Value'];

                if (preg_match('/-P(\d+)-(.+)-master/', $NM, $matches)){
                    $pid = $matches[1];
                    $SM = $matches[2];
                }

            }elseif ($TG['Key'] == 'COSTS-HOST'){ // only location for $SM
                $SM = $TG['Value'];
            }
        }

        // extract some database tracking values, dependent on $SM & $pid
        if (!empty($SM) && !empty($pid)){

            $stmt->execute(array(
                ":sm" => $SM,
                ":pid"=> $pid
            ));
            $result = $stmt->fetch(PDO::FETCH_ASSOC);
            $op = $result['operation'];
            $lsac = $result['LSAC'];
            $pname = $result['project_name_full'];
            //$pname=$SM;
        }else{

        }


        echo "<tr>";
        echo "<td>$idx</td>
              <td>$ID</td>
              <td>$pname</td>
              <td>$lsac</td>
              <td>$NM</td>
              <td>$type</td>
              <td>$ami</td>
              <td>$keyName</td>
              <td>$zone</td>";

        if ($state =="running"){
            echo "<td style='background-color:green'>$state</td>";
        }else{
            echo "<td style='background-color:red'>$state</td>";
        }

        echo "<td>$interval</td>
              <td>$op</td>
              ";

        $stat = call_user_func_array($fun,array($ID, 900, $then, $today));

        if (is_array($stat[ 'Datapoints' ])) {
            $hist = array();

            foreach ($stat[ 'Datapoints' ] as $d){
                $hist[] = number_format($d['Maximum'],2);
            }
            print "<td>";
            //print $hist[count($hist)-1] . " %  ";
            if (count($hist) > 0 ){
               print $hist[0] . " %  ";
            }
            print "</td>";

            print "<td><span class='inlinebar'>";
            //echo number_format($stat[ 'Datapoints' ][ 0 ][ 'Average' ],2);
            echo implode(",",$hist);
            print "</span></td>";
        }

//    print_r($R['Instances'][0]['InstanceId']);
//     print_r($stat[ 'Datapoints' ]);
        echo "</tr>\n";
    }
    ?>
    </tbody>
</table>
