<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title></title>
        <script type="text/javascript" src="/js/jquery-latest.js"></script> 
        <script type="text/javascript" src="/js/jquery.tablesorter.min.js"></script> 

        <link rel="stylesheet" type="text/css" href="/css/themes/blue/style.css">
    </head>
<body>
<?php

  $stmt = $data['stmt'];
  $colname = $data['href'][0];

  // Get table headers
  $numfields = $stmt->columnCount();

  echo "<table id='tbl-stage' class='tablesorter'>\n<thead>\n";
  echo "<tr>\n";
  for ($i=0; $i < $numfields; $i++) {
       echo '<th nowrap>';
       echo $stmt->getColumnMeta($i)['name'];
       echo '</th>';
  }
  echo "\n</tr>\n";
  echo "</thead>\n";
 
  echo "<tbody>\n";
  // Get table data
  while ($row = $stmt->fetch()) {
        if ($row[$colname]){
            $href = str_replace("##" . $data['href'][2] . "##", $row[$data['href'][2]], $data['href'][1]);
            $row[$colname] = "<a href=\"$href\">" . $row[$colname] . "</a>";
        }
        echo "<tr>\n<td nowrap>";

        echo implode('</td><td>',$row);
        echo "</td></tr>\n";

  }
  echo "</tbody>\n";
  echo "</table>\n";



?>
<script>
$(document).ready(function() 
    { 
        $("#tbl-stage").tablesorter(); 
    } 
); 
</script>
</body>
</html>
